<div class="col-xs-10">
    <table class="table">
        <tr>
            <th>Light</th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>{{description}}</td>
        </tr>
        <tr>
            <th>Dimmable?</th>
            <td>{{#if dimmable}}Yes{{else}}No{{/if}}</td>
        </tr>
        {{#if dimmable}}
            <tr>
                <th>Brightness</th>
                <td>
                    {{brightness}}%
                    <div class="btn-group pull-right ">
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Change <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a data-light-brightness="25" class="js-brightness-control" href="#">25% brightness</a></li>
							<li><a data-light-brightness="50" class="js-brightness-control" href="#">50% brightness</a></li>
							<li><a data-light-brightness="75" class="js-brightness-control" href="#">75% brightness</a></li>
							<li><a data-light-brightness="100" class="js-brightness-control" href="#">100% brightness</a></li>
						</ul>
                    </div>
                </td>
            </tr>
        {{/if}}
    </table>
</div>

<div class="col-xs-2 b-light">
    <div class="b-light__cord"></div>
    <div class="b-light__bulb
        {{#if dimmable~}}
            b-light__bulb--brightness-{{brightness}}
        {{~else~}}
            {{#if on}}
                b-light__bulb--brightness-100
            {{else}}
                b-light__bulb--brightness-0
            {{/if}}
        {{~/if~}}
    "></div>
</div>

<button type="button" class="js-power-button btn btn-primary btn-block{{#if on}} active{{/if}}">
	Turn {{#if on}}off{{else}}on{{/if}}
</button>

